body {
    margin: 0;
    padding: 0;
    position: relative;
    color: #ffffff;
    // overflow: hidden;
}

.background-image {
    width: 100vw;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    height: 100vh;
}

.primary-heading {
    color: #ffffff;
    text-align: center;
}

.pizza-form {
    background-color: rgba(165, 164, 164, 0.5);
    width: 30%;
    padding: 20px;
    padding-top: 15px;
    text-align: center;
    position: relative;
    top: 100px;
    border-radius: 15px;
    box-sizing: border-box;
    left: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.pizza-result {
    position: absolute;
    top: 180px;
    right: 40px;
    z-index: 1;
    width: 40%;
}

.pizza-radios-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
    width: 65%;
}

input[type=radio]:checked+label {
    color: #ff0000;
}

.pizza-ings-checkboxes {
    display: flex;
    justify-content: space-between;
    width: 75%;
    padding-right: 35px;
    box-sizing: border-box;
}

.pizza-extra-ings-checkboxes {
    display: flex;
    justify-content: space-between;
    width: 75%;
    padding: 0 40px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

input[type=checkbox] {
    display: none;
}

input[type=radio] {
    display: none;
}

input[type=checkbox]:checked+label {
    color: #ff0000;
}

// .pizza-select {
//     position: relative;
//     display: block;
//     // text-align: center;
//     margin-bottom: 15px;
//     margin: auto;
//     width: 50%;
// }

// & select {
//     font-family: 'Arial';
//     display: inline-block;
//     width: 100%;
//     // text-align: center;
//     cursor: pointer;
//     padding: 13px 15px;
//     outline: 0;
//     border: 1px solid #000000;
//     border-radius: 0px;
//     background: #17d6f0;
//     color: #000000;
//     appearance: none;
//     -webkit-appearance: none;
//     -moz-appearance: none;

//     &::-ms-expand {
//         display: none;
//     }

//     &:hover,
//     &:focus {
//         color: #000000;
//         background: #17d6f0;
//         opacity: 0.8;
//     }

//     &:disabled {
//         pointer-events: none;
//     }
// }